<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" type="image/png" href="/static/logo.svg">
    </head>
    <body>
        <h3>James Webb Telescope (JWT)</h3>
        <!-- I really love telescopes, don't you? -->
        <image src="https://phys.org/newman/gfx/news/hires/2015/1-projectscien.jpg" width=768/>
        <p>Congratulations, you are an admin! Flag: flag{js0n_w3b_t3l3sc0p3?}</p>
        <a href="/">&lt;- Back to Challenge</a>
    </body>
</html>