<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Web Hacking Challenges</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" type="image/png" href="/static/logo.svg">
    </head>
    <body>
        <h1>Intro to Web Hacking Challenges</h1>
        <p>Welcome to the website for ACM Cyber Fall 2021 Intro to Web Hacking challenges!</p>
        <h3>Challenges:</h3>
        <ul>
            <li><a href="/spiderman/">Spiderman</a></li>
            <li><a href="/postmaster/">Postmaster </a></li>
            <li><a href="/cookie_bar/">Cookie Bar</a></li>
            <li><a href="/jones/">Indiana Jones</a></li>
            <li><a href="/spaghetti/">Spaghetti</a></li>
            <li><a href="/social_insecurity">Social Insecurity</a></li>
        </ul>
    </body>
</html>