<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Indiana Jones</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" type="image/png" href="/static/logo.svg">
    </head>
    <body>
        <h1>Indiana Jones</h1>
        <p>Indiana Jones sure has visited a lot of archaeological sites around the world. Here's a map of all the sites:</p>
        <img src="/static/images/indiana-jones-map.jpeg" width=768 />
        <p>Click on one of the links below to see a screencap from the movie!</p>
        <ul>
            <li><a href="/jones/raiders_of_the_lost_ark/">Raiders of the Lost Ark (1981)</a></li>
            <li><a href="/jones/temple_of_doom/">Indiana Jones and the Temple of Doom (1984)</a></li>
            <li><a href="/jones/last_crusade/">Indiana Jones and the Last Crusade (1989)</a></li>
            <li><a href="/jones/kingdom_of_the_crystal_skull/">Indiana Jones and the Kingdom of the Crystal Skull (2008)</a></li>
        </ul>
        <a href="/">&lt;- Back to Challenges</a>
    </body>
</html>