<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Postmaster</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" type="image/png" href="/static/logo.svg">
    </head>
    <body>
        <h1>Postmaster</h1>
        <p>Hmm, that's not quite right. Here are some other uses of post:</p>
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/United_States_Postal_Service">Mail (United States Postal Service)</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Post_(structural)">An upright vertical support</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Outpost_(military)">A military detachment</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Post_Malone">Singer/songwriter Post Malone</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Post_Consumer_Brands">An American cereal brand</a></li>
        </ul>
        <p>Can you think of any more?</p>
        <a href="/">&lt;- Back to Challenges</a>
    </body>
</html>