<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Spiderman</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <h1>Spiderman</h1>
        <video width="560" controls>
            <source src="/static/media/spiderman-theme-song.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <p>
            Spiderman, Spiderman,<br/>
            Does whatever a spider can<br/>
            Spins a web, any size,<br/>
            Catches thieves just like flies<br/>
            Look Out!<br/>
            Here comes the Spiderman.<br/>
            <br/>
            Is he strong?<br/>
            Listen bud,<br/>
            He's got radioactive blood.<br/>
            Can he swing from a thread?<br/>
            Take a look overhead<br/>
            Hey, there<br/>
            There goes the Spiderman.<br/>
            <br/>
            In the chill of night<br/>
            At the scene of a crime<br/>
            Like a streak of light<br/>
            He arrives just in time.<br/>
            <br/>
            Spiderman, Spiderman<br/>
            Friendly neighborhood Spiderman<br/>
            Wealth and fame<br/>
            He's ignored<br/>
            Action is his reward.<br/>
            <br/>
            To him, life is a great big bang up<br/>
            Wherever there's a hang up<br/>
            You'll find the Spiderman.<br/>
        </p>
        <a href="/">&lt;- Back to Challenges</a>
    </body>
</html>