<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Spiderman</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <h1>Spiderman</h1>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/wl90tt4newk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Spiderman, Spiderman,<br/>
            Does whatever a spider can<br/>
            Spins a web, any size,<br/>
            Catches thieves just like flies<br/>
            Look Out!<br/>
            Here comes the Spiderman.<br/>
            <br/>
            Is he strong?<br/>
            Listen bud,<br/>
            He's got radioactive blood.<br/>
            Can he swing from a thread?<br/>
            Take a look overhead<br/>
            Hey, there<br/>
            There goes the Spider-Man.<br/>
            <br/>
            In the chill of night<br/>
            At the scene of a crime<br/>
            Like a streak of light<br/>
            He arrives just in time.<br/>
            <br/>
            Spider-Man, Spider-Man<br/>
            Friendly neighborhood Spider-Man<br/>
            Wealth and fame<br/>
            He's ignored<br/>
            Action is his reward.<br/>
            <br/>
            To him, life is a great big bang up<br/>
            Wherever there's a hang up<br/>
            You'll find the Spider-Man.<br/>
        </p>
        <a href="/">&lt;- Back to Challenges</a>
    </body>
</html>